*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  
    min-height: 90vh;
    margin: 15px;
    background-color: #660404;
}
header{
    height: 5vh;
    
    margin: 15px;
    text-align:right;
}
nav{
    height: 15vh;
    background-color:#4f4f4f;
    margin: 15px;
}
main{
    display: flex;
}
main aside{
    height: 50vh;
    width: 25vw;
    background-color: rgb(85, 11, 23);
    margin: 15px;
}
main article{
height: 50vh;
width: 65vw;
background-color:rgb(255, 255, 255);
margin: 15px;
    
}
main section{
    
    height: 50vh;
    width: 20vw;
    background-color: rgb(4, 20, 4);
    margin: 15px;
    align-items: flex-end;
    
    
}
footer{
    height: 10vh;
    
    margin: 15px;
    text-align:right;
   

}
p {
    text-indent: 15px;
    text-align:end;
    letter-spacing: 1px;
    display: inline-block;
    flex-direction: column;
    color: aliceblue;
   
  }
  nav h1 {
    text-indent: 30px;
    align-items: center;
    letter-spacing: 5px; 

    
  }
  h2 {
    text-indent: 30px;
    text-align:center;
    letter-spacing: 2px;
  }
  h3{
    text-indent: 30px;
    text-align: end;
    letter-spacing:2px ;
    color: white;
  }
  h5{
      font-size: 210%; 
      font-size: 34px;
  }
  h6
  {
    font-size: 210%; 
    font-size: 35px;
  }
  h6
  {
    font-size: 200%; 
    font-size: 35px;

  }
  h1{
    text-align: center;
  
  }

  

